$phone-size: 700px;
$ipad-small-size: 769px;
$ipad-size: 1025px;

$OLD_body-color: #CDCFD0;
$body-color: #f1f2f3;
$body-txt-color: #252223;
$box-color: #fff;
$darkblue: #005DAC;
$lightblue: #00AEEF;
$link-color: #00AEEF;
$gray-light: #f2f2f2;

$border1: #ffa500;
$border2: #3eb717;

$gap-size: 1.2em;
.border-radius{ border-radius: 3px; }