html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.trans {
    transition: .5s all;
}
ul.design-list {
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}

article {
    .home & {
        padding: $gap-size;
    }
}
.box .widget-front-img {
    margin: 0;
    padding: $gap-size;
   figure{
        margin: 0;
        width: 100% !important;
   }

}
.widget {
    overflow: hidden;
    margin-bottom: $gap-size;

    ol,
    ul,
    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: hidden;
    }
}

@media only screen and (min-width: $ipad-small-size) {

.box .widget-front-img {
    padding: 0;
}
}

.aside-text-box {
    overflow: hidden;
    margin-bottom: $gap-size;

    p:last-of-type {
        margin-bottom: 0;
    }

    &.design-1 {
        border-bottom: $gap-size / 2 solid $body-color;
        padding-bottom: $gap-size;
    }

    &.design-2 {
        @extend .gray-tb;
        @extend .border-radius;
        padding: $gap-size;

        h5 {
            border-bottom: 1px solid rgba(0, 0, 0, .6);
            padding-bottom: .25em;
        }
    }

    &.design-3 {
        @extend .darklight-tb;
        @extend .border-radius;
        padding: $gap-size;

        h5 {
            border-bottom: 1px solid rgba(255, 255, 255, .6);
            padding-bottom: .25em;
        }

        a {
            color: #fff;
        }

    }
}
@media only screen and (min-width: $ipad-small-size) {
.aside-text-box {
	line-height: 1.3;
    font-size: .9em;
}
	}

.header {
    position: relative;
}
.logo {
    position: absolute;
    bottom: $gap-size;
    left: $gap-size;
    z-index: 1000;
}

.post-footer {
    font-size: .9em;
}

.widget-right {
    border-bottom: $gap-size / 2 solid $body-color;
    padding-bottom: $gap-size;
}

@media (min-width: $phone-size) {
    .footer {
        footer {
            display: flex;
            flex-flow: row wrap;
        }

        .flex-item {
            min-width: 50%;
            max-width: 50%;
            padding-right: 0;
            margin-bottom: 0;


        }
    }
}

@media (min-width: $ipad-small-size) {
    .footer {


        .flex-item {
            min-width: 25%;
            max-width: 25%;
            padding-right: $gap-size;
            margin-bottom: 0;

            &:nth-child(4) {
                padding-right: 0;
            }
        }
    }
}

.dev-by {
    max-width: 1200px;
    margin: $gap-size auto;
    padding: 0 1em;
    a {
        text-decoration: none;
        font-size: .8em;
        color: darkgray;
    }
}