body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: .8335em;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 .5em 0;
    font-weight: normal;
    line-height: 1.2;
}

h1 {
    color: $lightblue;

}
h4 {
   font-weight: bold;
   border-bottom: 1px solid $body-color;
   padding-bottom: .25em;
}

h5 {
    font-size: 1em;
    font-weight: bold;
}

p {
    margin: 0 0 $gap-size 0;
}
.img-caption {
    text-align: right;
    font-size: 80%;
    font-style: italic;
    margin-top: .5em;
}
.bold-font {
    font-weight: bold;
}

.small-font {
    font-size: 80%;
}

.txt-align-right {
    text-align: right;
}

.txt-align-center {
    text-align: center;
}

a {
    color: $link-color;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}