.ejendomme-list {
    margin: 0;
    padding: 0;

    li {

        overflow: hidden;
        padding: 0;
        margin: 0 0 $gap-size 0;
        list-style-type: none;
        @extend .gray-tb;
    }

    a {
        text-decoration: none;
        color: inherit;
        display: block;
    }

    img {
        width: 100%;
        margin: 0;
    }
}

.text-data {
    padding: $gap-size;
}

.andel-bar {
    @extend .darklight-bt;
    padding: 5px 0;
    overflow: hidden;
    border-top: solid $gap-size / 2;
    clear: both;
    span {
        text-align: center;
        display: block;
        border-bottom: 1px solid rgba(255,255,255,.8);
        line-height: 2.5;
        &:last-of-type {
            border: none;
        }
    }
}

@media (min-width: $phone-size) {

    .andel-bar {
        font-size: .8em;
        span {
        float: left;
        width: calc(100% / 3);
        border: none;
        line-height: 1.2;
        aside & {
            width: 100%;
            border-bottom: 1px solid rgba(255,255,255,.8);
        line-height: 2.5;
        &:last-of-type {
            border: none;
        }
        }
        }
    }

    .ejendomme-list {
        img {
            float: left;
            margin: 0;
            width: auto;
            height: 52px;
            aside & {
                height: auto;
            }
        }

    }

    .text-data {
        padding: 5px $gap-size;
        display: inline-block;
        font-size: .9em;
        line-height: 1.2;
        aside & {
            padding: $gap-size;
        }
    }

}