ul.terms {
	li:not(:first-child) {
		padding-left: 1em;
		font-size: .9em;
		&:before {
			content: '- ';
		}
	}
}
.box .box {
	padding: $gap-size;
	//border: 1px solid $body-color;
	overflow: hidden;
	margin-bottom: $gap-size;

	border-top: 5px solid ;
	border-color: $border1;
    background-color: #f9f9f9;
    &.data-box {
			border-color: $darkblue;
		}
		&.term-box {
			border-color: $lightblue;
		}
		&.status-box {
			border-color: $border2;
		}
}
@media (min-width: $phone-size) {
	.box .box {
		border: none;
		border-left: 5px solid;
		border-color: $border1;
		&.data-box {
			border-color: $darkblue;
		}
		&.term-box {
			border-color: $lightblue;
		}
		&.status-box {
			border-color: $border2;
		}
	}
	}
.data {
	display: block;
	.label {
		min-width: 135px;
		display: inline-block;
	}
}

.ejendomsmaelger-link {
	display: block;
	width: 100%;
	text-decoration: none;
	line-height: 3em;
	text-align: center;
	@extend .darklight-bt;
	&:hover {
		@extend .darklight-tb;
	}
}
.content-images {
	img {
	margin: 0;
}
margin: 0 0 $gap-size 0;

}

.andel-barometer {
	margin: 0;
	width: 100%;
	height: 2em;
	background: $border2;
	span {
		float: left;
			height: 100%;
			text-align: center;
			color: #fff;
			line-height: 2em;

		&.int-procent {
			background:$border1;
			}
		}
}
.forklaring {
	display: inline-block;
	height: 100%;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: $border1;
	&.led {
		background: $border2;
	}
}